{% extends 'base2.html' %}
{% block prof %}
{% for d in data %}
<img alt="" src=..{{d.7}} style="width:50px;height:50px">
<span class="username">{{d.1}}</span>
{% endfor%}
{% endblock %}

{% block content  %}
	<section class="wthree-row w3-about  py-5">
		

        <body>
        
            <form action="#" method="post" enctype="multipart/form-data">
           {% csrf_token %}
            
            
            {% for d in data %}
            <center><img alt="" src=..{{d.7}} style="width:250px;height:250px"></center>
            {% endfor%}
            
            <br><center><input type="file"  name="img" placeholder="IMAGE" required=""></center>
        
        
      
                
                            
            <br><center><input type="submit" name="submit" value="submit"></center>
                          
                
        </form>  

    </body>
    </section>
{% endblock %}        
                
                
                
                

           
            