<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>DATA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Sleet Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- font files -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
	<!-- /font files -->
	<!-- css files -->
	<link href="../static/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/web/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

	<!-- /css files -->

	<body>

		<div class="container-w3layouts  text-center">
			<div class="agileits-logo">
				<h1>
					<a href="index.html">
						<span class="fa fa-spinner" aria-hidden="true"></span></a>
				</h1>
			</div>
			<h2 class="txt-wthree"></h2>
			<p>Eavesdropping Restricted ZoNe
				<br>Secure with Face detection</p>
			<div class="home">
                <a href="/reg/">REGISTRATION</a>
                <a href="/">LOGIN</a>
			</div>
		</div>
		<div class="w3_agile-footer">
			<p> &copy; 2018 eyeless data transfer. its all security boss
				<a href="http://w3layouts.com" target="=_blank"></a>
			</p>
		</div>
	</body>
</html>